<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.EpsMapper">
    
    <resultMap type='Eps' id='DetalleEps'>
        <id property='nombre' column='nombre'/>
        <result property='nit' column='nit'/>        
    </resultMap>
        
</mapper>